version: '3'
services:

  web:
    image: bitnami/laravel
    environment:
      - DB_HOST=host.docker.internal
      - DB_PORT=3307
    volumes:
      - ${PWD}/app:/app
    depends_on:
      - db
    ports:
      - "3000:3000"

  db:
    image: mariadb
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=links
    volumes:
      - ${PWD}/links_links.sql:/docker-entrypoint-initdb.d/links_links.sql
    ports:
      - 3307:3306