<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'parts/metatags.html' %}

	<link rel="shortcut icon" href="asset/ico/favicon.ico">
	<title>linkLibrary - {{ context.page_title }}</title>
	<link href="assets/css/bootstrap.css" rel="stylesheet">

	<link href="assets/css/style.css" rel="stylesheet">
	<link href="assets/css/font-awesome.min.css" rel="stylesheet">
	<script src="assets/js/modernizr.js"></script>
</head>
<body>
	{% include 'parts/menu.html' %}

    <!-- *****************************************************************************************************************
    BLUE WRAP
    ***************************************************************************************************************** -->
    <div id="blue">
      <div class="container">
        <div class="row">
			{% block blue %}
			{% endblock %}
        </div><!-- /row -->
      </div> <!-- /container -->
    </div><!-- /blue -->

    <div class="container mtb">
      <div class="row">
        <div class="col-md-8">
		{% block content %}
		
		{% endblock %}
        </div>

        <! -- SIDEBAR -->
        <div class="col-md-4">
		{% block sidebar %}
		
		{% endblock %}
		</div>
      </div><! --/row -->
    </div><! --/container -->

	{% include 'parts/footer.html' %}
	{% include 'parts/scripts.js' %}
</body>
</html>
