{% extends('fullpage.html') %}

{% block blue %}
<h3>Latest {{ rowCount }} rows out of {{ totalCount }}, with no tags and no levels</h3>
{% endblock %}

{% block content %}
	<table class="table">
		<thead>
			<tr>
				<th>Link</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		{% for link in links %}
		<tr id="row{{ link.id }}">
			<td>
				<h4><a class="btn-sm btn-danger" style="padding: 5px" onClick="deleteLink('{{ link.id }}');">
					<span class="glyphicon glyphicon-remove"> </span>
				</a></h4>
			</td>
			<td>
				<h4><a href="{{ link.link }}" target="_newWindow">{{ link.title }}</a></h4>
				<small>Host: <strong>{{ link.hostname }}</strong> UpdatedAt: <strong>{{ link.updated_at|date('Y-m-d') }}</strong> CreatedAt: <strong>{{ link.created_at|date('Y-m-d') }}</strong></small><br />
				<br />
				{% include 'parts/buttons_levellinks.html' %}
				<br /><br />
			</td>
			<td style="width:10%">
				<a class="btn-lg btn-info" href="linkedit.php?id={{ link.id }}" target="_newWin">
					<span class="glyphicon glyphicon-ok"> </span>
				</a>
				<br />
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
