
{% extends 'fullpage.html' %}

{% block blue %}
<div class="col-2">
	<a class="btn-lg btn-info" href ="linkedit.php" id="btnNext" accesskey="n"><u>N</u>ext</a>
</div>
<div class="row">
	<div class="col">
		<h3><a href="{{ link.link }}"" target="_newLinkWin">{{link.title}}</a></h3>
		<div id="errorMessages">
			{% for errorMessage in link.errors %}
			<div style="color: red">{{errorMessage}}</div>
			{% endfor %}
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<a class="btn btn-lg btn-danger" id="btnDelete" accesskey="D"><u>D</u>elete</a>
		<a class="btn btn-lg btn-warning" id="btnFix" accesskey="x">Fi<u>x</u></a>
	</div>
</div>
{% endblock %}

{% block content %}
<form id="frmEditLink" class="form-horizontal" method="POST">
	<div class="container">
		<input type="hidden" id="id" name="id" value="{{link.id}}" />

		<div class="row">
			<a style="margin-right: 10px" class="btn btn-warning"
			   href="https://duckduckgo.com/?q={{link.title}}&t=ffsb&ia=web" target="_srchWindow">Duck</a>
			<a style="margin-right: 10px" class="btn btn-warning" href="{{link.link}}" target="_newWindow">Show</a>
			<input type="submit" class="btn btn-info" value="Update" /><br />
		</div>
		<br />
		<div class="row">
			<div class="form-group">
				<label for="tags">Tags:</label>
				<input type="text" class="form-control" id="tags" name="tags" value="{{link.tags}}" />
			</div>
		</div>

		<div class="row">
			<div class="form-group col-sm-3">
				<label for="created_at">Created At:</label>
				<input type="text" class="form-control" id="created_at" name="created_at" size="12" value="{{link.created_at|date('Y-m-d')}}" />
			</div>
			
			<div class="form-group col-sm-3 ml-auto">
				<label for="fld_updated_at">Updated At:</label>
				<input type="text" readonly class="form-control" id="fld_updated_at" value="{{link.updated_at|date('Y-m-d')}}" size="12">
			</div>

			<div class="form-group col-sm-1 ml-auto">
				<label for="level">Level:</label>
				<input type="text" class="form-control" id="level" name="level" size="12" value="{{link.level }}" />
			</div>
		</div>

		<div class="row">
			<div class="form-group">
				<label for="link">Link:</label>
				<input type="text" class="form-control" id="link" name="link" value="{{link.link}}" />
			</div>
		</div>

		<div class="row">
			<div class="form-group">
				<label for="title">Title:</label>
				<input type="text" class="form-control" id="title" name="title" value="{{link.title}}" />
			</div>
		</div>

		<div class="row">
			<div class="form-group">
				<label for="status">Status:</label>
				<input type="text" class="form-control" id="status" name="status" value="{{link.status}}" size="10" />
			</div>
		</div>

	</div><!--/container -->
</form>

<textarea id="fldDescription">{{ link.debugs|json_encode }}</textarea>
	
{% endblock %}

{% block pagescripts %}
<script>

	$('#btnNext').on('click', function() {
		console.log('going to next records.')
		$('#blue').css('background-color','gray');
	});

	$('#btnDelete').on('click', function() {
		$('#blue').css('background-color','orange');
		$.get('_functions.php?method=deletelink&id={{link.id}}', function(data) {
			if (data.status == 'ok') {
				$('#blue').css('background-color','lightGreen');
				window.location='linkedit.php';
			} else {
				alert('Failed to delete link {{link.id}}');
				$('#blue').css('background-color','red');
			}
		});
	});

	$('#btnFix').on('click', function(event) {
		var baseColor = $('#blue').css('background-color');
		
		$('#blue').css('background-color','yellow');
		console.log("Calling URL:"+'_functions.php?method=getheader&id={{link.id}}');

		$.get('_functions.php?method=getheader&id={{link.id}}', function(data) {
			console.log(data);
			$('#blue').css('background-color','lightGreen');

			// This is just for example
			//for (var key in data.meta){
			//  console.log('Key:' + key + " -> Value:" + data.meta[key]);   
			//}
			$('#link').val(data.link);
			$('#title').val(data.title);
			$('#lblTitle').html(data.title);
			$('#tags').val(data.tags);
			$('#level').val(data.level);
			$('#created_at').val(data.created_at);
			$('#updated_at').val(data.updated_at);
			$('#status').val(data.status);
			//showDescription();
			checkLink(data.id, data.link);
		});

		$('#blue').css('background-color',baseColor);
	});

	function showDescription() {
		var metatags = {{ link.description|raw }}
		if (metatags.description) {
			$('#fldDescription').text(metatags.description);
		} else {
			if (metatags['og:description']) {
				$('#fldDescription').text(metatags['og:description']);
			}
		}
	}

	function checkLink(linkId, linkURL) {
		console.log("checkLink() Checking new URL:"+linkURL);
		$.getJSON( 'api/checklink.php', {
			url: linkURL,
			linkid: linkId
		})
		.done(function( data ) {
			if (data.status != 'ok') {
				$('#errorMessages').html("The new link might be a possible duplciate of "+
					"<a href='"+data.rows[0].link+"' target='_newDuplicateWindow'>"+
						data.rows[0].title+"</a>"+
							" id: "+data.rows[0].id+"!");
				console.log(data.rows);
			}
		});
	}

	$(document).ready(function() {
		showDescription();
	});
</script>
{% endblock %}

