{% extends('fullpage.html') %}

{% block blue %}
<h3>Status with status `{{ profile.request.status }}`</h3>
<form method="GET">
	<input type="checkbox" name="byLevel" />
	<input type="submit" value="Set" />
</form>
{% endblock %}

{% block content %}
<table class="table" id="tableLinks">
	<thead>
		<tr>
			<th> </th>
			<th>Link</th>
			<th> </th>
			<th>Status</th>
			<th>Level</th>
			<th>UpdatedAt</th>
		</tr>
	</thead>
<tbody>
	{% for link in links %}
	<tr id="row{{ link.id }}">

		<td>
			<button class="btn btn-danger" id="btnDel"
			onClick="deleteLink('{{ link.id }}');">
			<span class="glyphicon glyphicon-trash"> </span>
			</button>
		</td>

		<td id="rowDetails{{ link.id }}">
			<a href="{{ link.link }}" target="_newWindow"><b>{{ link.title }}</b></a><br />
			<small>
			Host: <b>{{ link.link|split(':')[1]|split('/')[2] }} </b>
			Tags: {% if links.tags is empty %}N/A{% else %}<b>{{ link.tags }}</b>{% endif %} CreatedAt: <b>{{ link.created_at|date('Y-m-d') }}</b> 
			</small>
		</td>

		<td>
			<a class="btn btn-info" href="linkedit.php?id={{ link.id }}" target="_newLinkWin">
				<span class="glyphicon glyphicon-pencil"> </span>
			</a>
		</td>
		<td>
			<b>{{ link.status }}</b> 
		</td>
		<td>
			<b>{{ link.level }}</b> 
		</td>
		<td>
			<b>{{ link.updated_at|date('Y-m-d') }}</b> 
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
