{% extends('fullpage.html') %}

{% block blue %}
<h3>List of Hosts</h3>
{% endblock %}

{% block content %}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

	<table id="tblHosts" class="table">
		<thead>
			<tr>
				<th>Host</th>
				<th>Tagless</th>
				<th>NotOK</th>
				<th>Total</th>
			</tr>
		</thead>
	
	{% for host in hostList %}
		<tr>
			<th>
				<a href="search_byhost.php?host={{host.name}}" target="_newEditLinkWindow">{{host.name}}</a>
				&nbsp; <a href="magazine.php?host={{host.name}}" target="magazineTab">&#x1F517;</a>
			</th>
			<td>
				{{ host.tags_empty|json_encode }}
			</td>
			<td>
				{{ host.status_bad|json_encode }}
			</td>
			<td>
				{{ host.total }}
			</td>
		</tr>
	{% endfor %}
	</table>
	<br /><br />
{% endblock %}

{% block pagescripts %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

<script>
	$(document).ready( function () {
		$('#tblHosts').DataTable();
		console.log("Datatables should be loading now.");
	});
</script>
{% endblock %}
