{% extends "fullpage.html" %}

{% block blue %}
	<button class="btn btn-success" onClick="prevArticle();">Prev</button>
	<button class="btn btn-success" onClick="nextArticle();">Next</button>
{% endblock %}

{% block content %}
 <iframe id='ifrm' src="{{ articles[0]['link'] }}" height="800" width="100%" title="">
 	
 </iframe> 
{% endblock %}

{% block pagescripts %}
<script>
	var articleIdx = 0;
	var linkList = JSON.parse('{{ articles|json_encode|e('js') }}');
	
	$(document).ready(function() {
		window.frames['ifrm'].src = linkList[0]['link'];
	});
	
	function nextArticle() {
		articleIdx++;
		if (articleIdx > linkList.length) {
			alert("No more articles");
		} else {
			window.frames['ifrm'].src = linkList[articleIdx]['link'];
		}
	}
	
	function prevArticle() {
		articleIdx--;
		if (articleIdx<0) { 
			alert("No previous link, already at the beginning.")
		} else {
		window.frames['ifrm'].src = linkList[articleIdx]['link'];
		}
	}
</script>
{% endblock %}

