{% extends ('fullpage.html') %}

{% block blue %}
<h3>QUERY</h3>
<form method="GET">
	<input type="text" name="q" value="{{ query }}" size="100"/>
</form>
{% endblock %}

{% block content %}
<div class="col-12">
	<table class="table">
		<tbody>
			{% for row in results %}
			<tr id="row{{ row.id }}">
			<td>
				<button class="btn btn-sm btn-danger" onClick="deleteLink({{ row.id }});">
					<span class="glyphicon glyphicon-trash"> </span>
				</button>
			</td>
			<td>
				<b>
					<a href="{{ row.link }}" id="title-{{ row.id}}" target="_newWindow">{{ row.title }}</a>
				</b><br />
				<p>{{ row.description }}</p>
				<small>{{row.link }}/small><br />
				<small id="cdate-{{row.id}}">Created: <b>{{row.created_at|date('Y-m-d')}}</b></small>
				<small id="date-{{row.id}}">Updated: <b>{{row.updated_at|date('Y-m-d')}}</b></small>
				<small id="status-{{row.id}}">Status: <b>{{row.status}}</b></small>
				<div id="description-{{row.id}}"></div>
			</td>
			<td>
				<input type="text" id="tags-{{row.id}}"
					onChange="tagLink({{row.id}}, $(this).val());"
						value="{{row.tags}}" />
			</td>
			<td>
				<a class="btn btn-sm btn-info" href="linkedit.php?id={{row.id}}" target="_winEditLink">
					<span class="glyphicon glyphicon-ok"> </span>
				</a>
			</td>
			<td>
				<a class="btn btn-sm btn-warning" onClick="repairQueryLink('{{row.id}}');">
					<span class="glyphicon glyphicon-check"> </span>
				</a>
			</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
</div>
{% endblock %}

{% block pagescripts %}
<script>
	function repairQueryLink(linkid) {
		console.log('repairQueryLink() starting '+linkid);
		
		$('#title-'+linkid).html('...');
		
		$.getJSON(
			'_functions.php?method=repairlink&id='+linkid, 
			{
				format: "json"
			}
		)
		.done(function( data ) {
			if (data.status == 'ok') {
				console.log(data);
		
				$('#title-'+linkid).html(data.details.title);
				$('#tags'+linkid).val(data.details.tags);
				$('#date-'+linkid).html(data.details.updated_at);
				$('#status-'+linkid).val(data.details.status);
		
				$('#description-'+linkid).html('<b>'+data.meta['og:description']+'</b>');
			} else {
				console.log(data);
				$('#row'+linkid).css('background-color','pink');
			}
		})
		.fail(function(data) {
			console.log( "repairQueryLink() error" );
			console.log(data);
		});
	}
</script>
{% endblock %}
