{% extends('fullpage.html') %}

{% block blue %}
	<h3>Random {{ result_count }} Rows.</h3>
{% endblock %}

{% block content %}
        <table class="table">
	<tbody>
	{% for l in results %}
            <tr id="row{{ l.id }}">
            <td>
              <button class="btn-sm btn-danger" onClick="deleteLink({{ l.id }})">
		<span class="glyphicon glyphicon-remove"> </span>
	      </button>
            </td>
            <td>
          	<b><a href="{{ l.link }}" target="_newWindow">{{ l.title }}</a></b><br />
       		<small>{{ l.hostname }}</small><br />

	        <button class="btn btn-primary" onClick="tagLink({{ l.id }}, 'level1') ">
                  <span class="glyphicon glyphicon-bookmark"> </span>
                </button>
		<span style="width: 20px;display: inline-block"> </span>
	        <button class="btn btn-secondary" onClick="tagLink({{ l.id }}, 'level2') ">
	          <span class="glyphicon glyphicon-bookmark"> </span>
	        </button>
		<span style="width: 20px;display: inline-block"> </span>
		<button class="btn btn-info" onClick="tagLink({{ l.id }}, 'level3') ">
	          <span class="glyphicon glyphicon-bookmark"> </span>
	        </button>
		<span style="width: 20px;display: inline-block"> </span>
		<button class="btn btn-success" onClick="tagLink({{ l.id }}, 'level4') ">
	           <span class="glyphicon glyphicon-bookmark"> </span>
	        </button>
              </td>
              <td style="padding: 5px"> 
	        <button class="btn-sm btn-success" onclick="window.location='linkedit.php?id={{ l.id }}';">
	          <span class="glyphicon glyphicon-link"> </span>
	        </button>
              </td>
              </tr>
	{% endfor %}
	</tbody>
	</table>
	<a href="#" onClick="document.location.reload(true);" class="btn btn-info">Reload</a>
{% endblock %}
