{% extends "fullpage.html" %}

{% block blue %}
		
	<form method="GET" id="frmRefine" class="pull-right">
		<input type="checkbox" class="adjusterfield" onchange="submit();" name="olderfirst" {% if profile.request.olderfirst %}checked{% endif %}/> OlderFirst<br />
		<input type="checkbox" class="adjusterfield" onchange="submit();" name="untaggedonly" {% if profile.request.untaggedonly %}checked{% endif %}/> UntaggedOnly<br />
		<input type="checkbox" class="adjusterfield" name="nostatus" {% if profile.request.nostatus %}checked{% endif %}/> No Status<br />
		<input type="checkbox" class="adjusterfield" name="badstatus" {% if profile.request.badstatus %}checked{% endif %}/> Bad Status<br />
		<input type="hidden" id="fldHost" name="host" value="{{ request.host }}" />
	</form>

	<h3>
		Search Results by host <a href="http://{{ request.host }}" target="_newWindow">{{ request.host }}</a>
	</h3>
	
{% endblock %}

{% block content %}
<style>
	TR.link-301 {
		background-color: lightGray; color: black;
	}
	TR.link-401 {
		background-color: purple; color: white;
	}
	tr.link-200 {
		background-color: lightBlue; color: white;
	}
	tr.link-0 {
		background-color: #f0f0f0; color: white;
	}
</style>

<table class="table">
	<tbody>
	{% for link in links %}
	<tr id="row{{ link.id }}" class="link-{{ link.status }}">
		<td>
			<button class="btn btn-danger" onClick="deleteLink({{ link.id }})">
				<span class="glyphicon glyphicon-remove"> </span>
			</button><br />
			<br />
			<a class="btn btn-info" href="linkedit.php?id={{ link.id }}" target="_winEditLink">
				<span class="glyphicon glyphicon-ok"> </span>
			</a>
		</td>
		<td>
			<b><a href="{{ link.link }}" target="_newWindow">{{ link.title }}</a></b><br />
			{% if not profile.request.untaggedonly %}
				<small>
				Tags: <b>{% if link.tags is empty %}n/a{% else %}{% for tag in link.tags %}{{ tag }} {% endfor %}{% endif %}</b>
				</small><br />
			{% endif %}
			<br />
			&nbsp;&nbsp;&nbsp;
			{% include('parts/buttons_levellinks.html') %}
		</td>
		<td>
			{% if link.created_at is empty %}n/a{% else %}{{ link.created_at|date('Y-m-d') }}{% endif %}
		</td>
		<td>
			{% if link.updated_at is empty %}n/a{% else %}{{ link.updated_at|date('Y-m-d') }}{% endif %}
		</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}

