<div style="display:inline-block; margin-top: 10px">
	<a class="btn btn-primary" onClick="setLevel({{ link.id }}, 1);">
		<span class="glyphicon glyphicon-cog"> </span>
	</a>&nbsp;&nbsp;
	
	<a class="btn btn-warning" onClick="setLevel({{ link.id }}, 2);">
		<span class="glyphicon glyphicon-cog"> </span>
	</a>&nbsp;&nbsp;

	<a class="btn btn-success" onClick="setLevel({{ link.id }}, 3);">
		<span class="glyphicon glyphicon-cog"> </span>
	</a>&nbsp;&nbsp;

	<a class="btn btn-info" onClick="setLevel({{ link.id }}, 4);">
		<span class="glyphicon glyphicon-cog"> </span>
	</a>&nbsp;&nbsp;

	<a class="btn btn-dark" onClick="setLevel({{ link.id }}, 5);">
		<span class="glyphicon glyphicon-cog"> </span>
	</a>&nbsp;&nbsp;
</div>