			<a class="btn-sm btn-primary" onClick="tagLink({{ link.id }}, 'level1');">
				<span class="glyphicon glyphicon-cog"> </span>
			</a>&nbsp;&nbsp;
			
			<a class="btn-sm btn-warning" onClick="tagLink({{ link.id }}, 'level2');">
				<span class="glyphicon glyphicon-cog"> </span>
			</a>&nbsp;&nbsp;

			<a class="btn-sm btn-success" onClick="tagLink({{ link.id }}, 'level3');">
				<span class="glyphicon glyphicon-cog"> </span>
			</a>&nbsp;&nbsp;

			<a class="btn-sm btn-info" onClick="tagLink({{ link.id }}, 'level4');">
				<span class="glyphicon glyphicon-cog"> </span>
			</a>&nbsp;&nbsp;

			<a class="btn-sm btn-dark" onClick="tagLink({{ link.id }}, 'level5');">
				<span class="glyphicon glyphicon-cog"> </span>
			</a>&nbsp;&nbsp;