	 <div id="footerwrap">
	 	<div class="container">
		 	<div class="row">
		 		<div class="col-lg-4">
		 			<h4>About</h4>
		 			<div class="hline-w"></div>
		 			<p>I am digital janitor and overall problem solver. I have international experience, financial industry and cloud development projects to prove my talents. Look me up ;)</p>
		 		</div>
		 		<div class="col-lg-4">
		 			{{ include('parts/social_links.html') }}
		 		</div>
		 		<div class="col-lg-4">
		 			{{ include('parts/address_links.html') }}
		 		</div>

		 	</div><!--/row -->
	 	</div><!--/container -->
	 </div><!--/footerwrap -->
